* {
  border: 1px solid purple;
}
header div {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 57px;
  width: 100%;
  top: 0;
  left: 0;
  border: 0;
  border-bottom: 1px;
  border-color: #e2e3e7;
  border-style: solid;

  position: absolute;
  /* 
  box-shadow: -8px -1px 22px rgba(0, 0, 0, 0.4); */
}
body header div a {
  padding-left: 20px;
  text-decoration: none;
  color: grey;
  margin: 18px;
}
header div nav ul {
  display: flex;
  margin-right: 50px;
}
header div nav ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
header div nav ul li a {
  text-decoration: none;
  color: grey;
}

body article section#home {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
body article section#home div#content-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-bottom: 150px;
  margin-right: 0px;
  margin-top: 170px;
  width: 50%;
}
body article section div.my-image {
  background-color: none;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
}
body article section div.my-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 170px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.4);
}
body aside {
  display: block;
  position: fixed;
  top: 365px;
}
body aside ul {
  display: block;
  width: fit-content;
}
body aside ul li {
  margin-bottom: 20px;
  list-style-type: none;
}
body aside ul li a {
  color: grey;
}
body aside ul #line {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  padding-left: 6px;
  margin-bottom: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
}
h1 {
  color: red;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 0;
}

body article section#home div.brief-intro p {
  color: grey;
}
span {
  color: grey;
  font-size: 2rem;
  margin-top: 0;
}
body article section#home div#content-container div.brief-intro ul {
  padding-left: 120px;
  padding-top: 2%;
}
body article section#home div#content-container div.brief-intro ul li {
  display: inline;
  color: grey;
  padding: 5%;
  padding-left: 0;
}
section div article header p {
  color: green;
}

/* 
*{
    border-style: solid;
    border-color: blueviolet;
    border-width: 1px;
} */
