/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: Inconsolata, monospace;
  /* color: #000026; */
  /* border: purple 1px solid; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}
section {
  position: static;
  height: 42rem;
}
/* navigation */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  /* transition: ease-in-out 0.1s; */
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 3rem;
  width: 100%;
  /* top: -56px; */
  /* left: 0; */
  border: 0;
  border-bottom: 1px;
  border-color: #e2e3e7;
  border-style: solid;
  /* position: sticky; */

  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 200ms;
  opacity: 0;
}
nav.active {
  opacity: 1;
}
/* togle button */
div.toggle-container {
  display: flex;
  width: 4rem;
  height: auto;
  /* border: 1px solid #000026; */
  margin-left: 4rem;
  border-radius: 1rem;
}
button {
  margin: auto;
}

.box-nav {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-nav li {
  display: inline-block;
  overflow: hidden;
  height: 1.6rem;
}

.navi {
  padding: 0.12rem;
  line-height: 1.4em;
  margin: auto;
  text-decoration: none;
  display: block;
  transition: 0.2s ease-in-out;
  color: black;
}
.navi:hover {
  transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.2s ease-in-out;
}

/* section home */
section#home {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 1500ms;
}
#content-container.active {
  opacity: 1;
}
div.fly-sheet {
  background-color: none;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: right;
  box-sizing: border-box;
}
.trans5.active {
  opacity: 0.5;
  transform: translateY(0);
  transition-delay: 0ms;
}
.trans4.active {
  opacity: 0.5;
  transform: translateY(0);
  transition-delay: 200ms;
}
.trans3.active {
  opacity: 0.8;
  transform: translateY(0);
  transition-delay: 400ms;
}
.trans2.active {
  opacity: 0.8;
  transform: translateY(0);
  transition-delay: 600ms;
}
.trans1.active {
  opacity: 0.8;
  transform: translateY(0);
  transition-delay: 800ms;
}
.trans.active {
  opacity: 0.8;
  transform: translateY(0);
  transition-delay: 1000ms;
}

.brick {
  position: relative;
  display: block;
  height: 100%;
  width: 25%;
  opacity: 5%;
  border: grey solid 0.06rem;
  transform: translateY(-50rem); /* Geser elemen ke atas sejauh 50px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.trans {
  background-color: #7f27ff;
  height: 60%;
}
.trans1 {
  background-color: #9f70fd;
  height: 80%;
}
.trans2 {
  background-color: #fdbf60;
  height: 50%;
}
.trans3 {
  background-color: #ff8911;
}
.trans4 {
  background-color: red;
}
.trans5 {
  background-color: orange;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
}
h1 {
  color: #7f27ff;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  color: #ff8911;
}

.skill {
  color: #ff8911;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
span {
  color: #9f70fd;
  font-size: 2rem;
  margin-top: 0;
}
div.brief-intro ul {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.brief-intro ul li {
  display: inline-block;
  padding: 2%;
  color: grey;
}
section div article header p {
  color: green;
}
/*about me section*/
div.about {
  padding: 3rem 8rem;
}
#about {
  background-color: grey;
}
.about-container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.text {
  column-count: 2;
  column-gap: 3rem;
  column-rule-width: 0px;
  color: #e2e3e7;
}

.section-title-wrapper {
  display: flex;
  flex-direction: row;
}
.section-title {
  display: inline-block;

  margin-left: 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
.section-title-line {
  position: static;
  width: 8rem;
  height: 0.125rem;
  margin-top: 1.4rem;
  background-color: grey;
}
.section-header {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

/* section contact*/

section#contact div.container {
  padding-top: 15%;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.contact-grid {
  position: relative;
  z-index: 1;
  display: grid;

  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: auto;
}
.contact-title {
  color: red;
  font-size: 2.5rem;
  line-height: 3rem;
}
.text-field {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;

  border-style: none none solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: #000026;
  border-radius: 0px;
  background-color: transparent;
}
.text-field-spacer {
  width: 3rem;
}
.text-field-wrapper {
  display: flex;
  flex-direction: row;
}
.text-field.min-height {
  min-height: 7.5rem;
  background-color: transparent;
}
textarea {
  resize: none;
}
.filled-btn {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  background-color: red;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  text-transform: capitalize;
}
/* footer */
footer {
  z-index: 9;
  padding: 1rem 3.5rem;

  justify-content: space-between;

  align-items: center;
  border-top: 1px solid grey;
}
/* form */
.form {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* aside */
body aside ul {
  display: block;
  width: fit-content;
}
body aside ul li {
  margin-bottom: 1.3rem;
  list-style-type: none;
}
body aside ul li a {
  color: grey;
}
body aside ul #line {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  padding-left: 0.187rem;
}
body aside {
  display: block;
  position: fixed;
  top: 22rem;
  left: 1rem;
  transform: translateY(-50rem); /* Geser elemen ke bawah sejauh 50px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
body aside.active {
  transform: translateY(0);
  transition-delay: 1s;
}
